parameters:
    level: 8
    phpVersion: 80200
    paths:
        - src

includes:
    - tests/StaticAnalysis/phpstan.baseline.php
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
